name: Build Flutter MacOS

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build-macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Enable MacOS Desktop
        run: flutter config --enable-macos-desktop

      - name: Get dependencies
        run: flutter pub get

      - name: Build MacOS Release
        run: flutter build macos --release

      - name: Compress App
        run: |
          cd build/macos/Build/Products/Release
          tar -czf playschool_macos.tar.gz playschool.app

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: playschool-macos-app
          path: build/macos/Build/Products/Release/playschool_macos.tar.gz
